<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"

>
  <!--加载属性配置文件-->
<!--  <context:property-placeholder location="classpath:properties/resid-config.properties"></context:property-placeholder>-->

    <!--集群节点的配置属性-->
<bean id="redisClusterConfig" class="org.springframework.data.redis.connection.RedisClusterConfiguration">
    <property name="maxRedirects" value="1"/>
    <property name="clusterNodes">
        <set>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7001"/>
            </bean>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7002"/>
            </bean>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7003"/>
            </bean>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7004"/>
            </bean>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7005"/>
            </bean>
            <bean class="org.springframework.data.redis.connection.RedisClusterNode">
                <constructor-arg name="host" value="192.168.188.134"/>
                <constructor-arg name="port" value="7006"/>
            </bean>
        </set>
    </property>
</bean>

    <!--redis连接池的属性-->
  <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
       <property name="maxIdle" value="30"></property>
       <property name="maxTotal" value="50"></property>
       <property name="testOnBorrow" value="true"></property>
  </bean>

    <!--创建redis连接工厂-->
    <bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
          <constructor-arg ref="redisClusterConfig"></constructor-arg>
         <constructor-arg ref="poolConfig"></constructor-arg>
    </bean>




   <!--redis连接池属性对象-->
    <!--<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        &lt;!&ndash;最大连接数&ndash;&gt;
         <property name="maxIdle" value="${redis.maxIdle}"></property>
        &lt;!&ndash;获取连接后是否测试连接的有效性&ndash;&gt;
         <property name="testOnBorrow" value="${redis.testOnBorrow}"></property>

    </bean>-->

    <!--创建连接工厂-->
    <!--<bean id="JedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
    p:hostName="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}" p:pool-config-ref="poolConfig">
    </bean>-->
    <!--创建ResisTemplate-->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
          <property name="connectionFactory" ref="JedisConnectionFactory" />
    </bean>

</beans>

